    #wrp
{
    margin: 0 auto 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre
{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    font-we

    margin: 0 0 0 0;
}

.column1{
    float: left;
    width: 20%;
    height: 100%;
}
.column2{
    float: left;
    width: 40%;
    height: 100%;
}
.column3{
    float: left;
    width: 60%;
    height: 100%;
}
.column4{
    float: left;
    width: 80%;
    height: 100%;
}
.column5{
    float: left;
    width: 100%;
    height: 100%;
}
hr{
    clear: both;
    border: 0;
    height: 0;
}

img
{
    max-width: 100%;
    height: auto;
    margin: 0 0 0 0;
}

/*ヘッダー*/
header
{
    padding: 30px 0 0 0;

    background: #ffd91a;
}
img.header
{
    height: 100%;

    text-align: center;
}
h1
{
    font-size: 2rem;
    font-weight: normal;
    /*line-height: 8rem;*/

    margin: -6rem 0 0 5rem;
    padding-bottom:6rem;

    text-align: center;

    color: #fff;
    /*text-shadow: 0.5rem 0.5rem 0 rgb(213,175,0);*/
    /*text-shadow: 10rem 10rem 0 #999;*/
}
h1 span.subtitle
{
    font-size: 4rem;
    font-weight: 200;

    /*text-shadow: 0 2px 2px rgba(0, 0, 0, .4);*/
}
/*メイン画像*/
#main_img
{
    width: 100%;
    min-height: 300px;
    margin: 0 auto 0 auto;

    background: #ffd91a;
}
/*メイン処理*/
div.center
{
    text-align: center;
}
div.black
{
    padding-top: 50px;
    padding-bottom: 25px;

    background: #fff;
}
div.white
{
    padding-top: 50px;
    padding-bottom: 25px;

    background: #0095dd;
}
section
{
    width: 50%;
    margin: 0 auto 0 auto;
}
section.white
{
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
}
section.black
{
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}
section h2
{
    font-size: 2rem;
    line-height: 3rem;
}
section p
{
    font-size: 1.2em;
    line-height: 1.5rem;
}
table {
    text-align: center;
    margin: 0 auto;
}
table td,table th{
    text-align: center;
    padding: 0 2rem;
}

.ub{
    border-bottom: 1px solid #fff;
}


/*フッター*/


footer
{
    margin: 30px 0 30px 0;

    text-align: center;
}
footer p.copyright
{
    font-size: 1rem;
    line-height: 1.5em;

    padding: 0 50px 0 50px;

    color: #fff;
}
